venv/
Lib/
Scripts/
__pycache__/
*.pyc
*.dll
*.lib
*.pkl
*.xlsx
*.jpg
*.png
Procfile.txt
runtime.txt
setup.sh
share/
New Text Document.txt
config.toml.txt
config.yaml
controller.py
create_qr.py
generate_report.py
hash_password.py
main_automation.py
model.py
train_model.py
training_data.csv
training_data.csv.xlsx
view.py
venv/
__pycache__/
*.pyc
*.dll
*.lib
pyvenv.cfg
main.py